<section class="course">
    <div class="letras">
        <h1 class="titulo">Matriculación</h1>
    </div>
    <br>
    <div class="letras indicaciones">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere doloremque perspiciatis a itaque facilis eius asperiores praesentium voluptate aperiam dicta eaque nemo velit, quam enim labore doloribus sunt est quibusdam!</p>
    </div>
    <div class="contenedor">
    <br>
    <div class="formulario">
        <div class="container mt-3">
            <h2>Cupos Disponibles</h2>
            <p>Escoja el curso que desee, siempre y cuando existan cupos disponibles </p>
            <table class="table">
              <thead class="table-primary">
                <tr>
                  <th>Cursos</th>
                  <th>Cantidad de Cupos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Paralelo A</td>
                  <td>Doe</td>
                  <td><a href="/enrollment"><button type="button" class="btn btn-outline-primary">Matricularme</button></a></td>
                </tr>
                <tr>
                  <td>Paralelo B</td>
                  <td>Moe</td>
                  <td><button type="button" class="btn btn-outline-primary">Matricularme</button></td>
                </tr>
                <tr>
                  <td>Paralelo C</td>
                  <td>Dooley</td>
                  <td><button type="button" class="btn btn-outline-primary">Matricularme</button></td>
                </tr>
              </tbody>
            </table>
            
          </div>
    </div>
    <div class="limpieza"></div>
</div>
</section>

