<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Edición de datos</h1>
    </div>
    <br>
    <div class="contenedor">
    <form [formGroup]="FormCI" (ngSubmit)="consultar()"> 
        <div class="row">
            <div class="col-sm-4">
                <label for="">Ingrese el Número de Cédula:</label>
                <input type="text" class="form-control" formControlName="CI"  placeholder="Ingrese el Número de Cédula del alumno" name="" [ngClass]="{'is-invalid':FormCI.get('CI')?.errors && FormCI.get('CI')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                <div *ngIf="Formstudent.get('CI')?.errors">
                    <div class="text-danger" *ngIf="FormCI.get('CI')?.hasError('required') && FormCI.get('CI')?.touched">Ingrese un número de cédula válido</div>
                    <div class="text-danger" *ngIf="FormCI.get('CI')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                    <div class="text-danger" *ngIf="FormCI.get('CI')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                </div>
            </div>
            <div class="col-sm-8 botones">
                <button type="submit" class="btn btn-success" >Buscar Datos</button>  
            </div>
        </div>
    </form>  
    <br> <br> <br>    
    <form [formGroup]="Formstudent" (ngSubmit)="edit_student(Formstudent.value)" >
        <div class="row">
            <div class="col-sm-4">
                <label for="">Número de Cédula:</label>
                <input type="text" class="form-control" formControlName="identityNumber" placeholder="Ingrese el Número de Cédula del alumno" name="" [ngClass]="{'is-invalid':Formstudent.get('identity')?.errors && Formstudent.get('identity')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                <div *ngIf="Formstudent.get('identity')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('identity')?.hasError('required') && Formstudent.get('identity')?.touched">Ingrese un número de cédula válido</div>
                    <div class="text-danger" *ngIf="Formstudent.get('identity')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                    <div class="text-danger" *ngIf="Formstudent.get('identity')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Apellidos:</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Ingrese dos apellidos" name="" [ngClass]="{'is-invalid':Formstudent.get('lastName')?.errors && Formstudent.get('lastName')?.touched}">
                <div *ngIf="Formstudent.get('lastName')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('lastName')?.hasError('required') && Formstudent.get('lastName')?.touched">Se requiere el ingreso de los Apellidos</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="">Nombres:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Ingrese dos nombres" name="" [ngClass]="{'is-invalid':Formstudent.get('name')?.errors && Formstudent.get('name')?.touched}">
                <div *ngIf="Formstudent.get('name')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('name')?.hasError('required') && Formstudent.get('name')?.touched">Se requiere el ingreso de los nombres</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Escoger a edad:</label>
                <select class="form-select" aria-label="Default select example" formControlName="age" [ngClass]="{'is-invalid':Formstudent.get('age')?.errors && Formstudent.get('age')?.touched}">
                    <option value="7">7 años </option>
                    <option value="8">8 años</option>
                    <option value="9">9 años</option>
                    <option value="10">10 años</option>
                    <option value="11">11 años</option>
                    <option value="12">12 años</option>
                    <option value="13">13 años</option>
                    <option value="14">14 años</option>
                    <option value="15">15 años</option>
                    <option value="16">16 años</option>
                </select>
                <div *ngIf="Formstudent.get('age')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('age')?.hasError('required') && Formstudent.get('age')?.touched">Debe escoger la edad</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="">Nombre del Representante:</label>
                <input type="text" class="form-control" formControlName="parentName" placeholder="Ingrese un nombre y un apellido" name="" [ngClass]="{'is-invalid':Formstudent.get('parentName')?.errors && Formstudent.get('parentName')?.touched}">
                <div *ngIf="Formstudent.get('parentName')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('parentName')?.hasError('required') && Formstudent.get('parentName')?.touched">Debe ingresar el nombre del Representante</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Teléfono de Contacto:</label>
                <input type="text" class="form-control" formControlName="phone1" placeholder="Ingrese un numero de telefono de contacto" name="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" [ngClass]="{'is-invalid':Formstudent.get('phone1')?.errors && Formstudent.get('phone1')?.touched}">
                <div *ngIf="Formstudent.get('phone1')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('phone1')?.hasError('required') && Formstudent.get('phone1')?.touched">Ingrese un número de contacto válido</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="">Correo Electrónico:</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Ingrese si tiene un correo electrónico" name="" [ngClass]="{'is-invalid':Formstudent.get('email')?.errors && Formstudent.get('email')?.touched}">
                <div *ngIf="Formstudent.get('email')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('email')?.hasError('email') && Formstudent.get('phone1')?.touched">Ingrese un correo válido</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <label for="">Dirección: (Ciudad, Barrio, Calle Principal y Calle Secundaria)</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Ingrese la dirección completa de donde vive" name="" [ngClass]="{'is-invalid':Formstudent.get('address')?.errors && Formstudent.get('address')?.touched}">
                <div *ngIf="Formstudent.get('address')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('address')?.hasError('required') && Formstudent.get('address')?.touched">Se requiere el ingreso de una dirección (Ciudad, Barrio-ciudadela, Calle Principal y Calle Secundaria)</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 form-check">
                <label for="">¿El Alumno está Bautizado?:</label><br>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" [value]="true" checked  formControlName="baptized"> <p>Si</p>
                    <input type="radio" class="form-check-input" id="radio2" [value]="false" checked  formControlName="baptized"> <p>No</p>
                </div>
                <div *ngIf="Formstudent.get('baptized')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('baptized')?.hasError('required') && Formstudent.get('baptized')?.touched">Escoja una opción</div>
                </div>
            </div>
            <div class="col-sm-4">
            <label for="">¿El alumno tiene alguna Discapacidad?:</label><br>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="Disability1" value="true" checked formControlName="disability"> <p>Si</p>
                    <input type="radio" class="form-check-input" id="Disability2" value="false" checked formControlName="disability"> <p>No</p>
                </div>
                <div *ngIf="Formstudent.get('disability')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('disability')?.hasError('required') && Formstudent.get('disability')?.touched">Escoja una opción</div>
                </div>
            </div>
        <br>
        <hr>
        <br>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="">Estado del Alumo:</label><br>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="aproved1" [value]="true" checked formControlName="aproved"> <p>Aprobado</p>
                    <input type="radio" class="form-check-input" id="aproved2" [value]="false" checked formControlName="aproved"> <p>Reprobado</p>
                </div>
                <div *ngIf="Formstudent.get('aproved')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('aproved')?.hasError('required') && Formstudent.get('aproved')?.touched">Escoja una opción</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-9">
                <button [disabled]="Formstudent.invalid" type="submit" class="btn btn-success">Registrar cambios</button> 
                <!-- <a class="btn btn-primary">Generar Comprobante</a> -->
        </div>
            <!-- <button type="reset" class="btn btn-danger">Salir</button> -->
            
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-sm-9">
            <button class="btn btn-danger" (click)="delete()">Eliminar Estudiante</button> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="capturar_level_curso()">
                Cambiar de curso
            </button>        
            <a type="reset" href="/admin" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
    </div> 
</section>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cambio de Nivel y Paralelo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                   <label>Nivel Actual:  </label><br><label id="Text_level" textWrap="true" class="text-danger"><strong></strong></label>
                </div>
                <div class="col-sm-6">
                    <label>Paralelo Actual:  </label><br><label id="Text_curso" textWrap="true" class="text-danger"><strong></strong></label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="">Escoger el nuevo Nivel:</label>
                    <select class="form-select" aria-label="Default select example" name="Level" [(ngModel)]="opcionSeleccionada" (change)="capturar()">
                        <option *ngFor="let shedule of shedules.data" [ngValue]="shedule.id">{{shedule.Level.name + ' ' + "(" + shedule.weekDay + ' ' + shedule.startTime + ' ' + "a" +' '+ shedule.endTime + ")" }}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="">Escoger el nuevo curso:</label>
                    <select class="form-select" aria-label="Default select example" name="course" [(ngModel)]="seleccion_curso" (change)="capturar_curso()">
                        <ng-container *ngFor="let course_selection of courses">
                        <option  *ngIf="course_selection.count < course_selection.maxStudents"  [ngValue]="course_selection.id">{{"Paralelo" + ' ' + course_selection.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="edit_course()" data-bs-dismiss="modal">Guardar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>