<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Inscripción de Catequistas</h1>
    </div>
    <br>
    <div class="contenedor">
    
    <form [formGroup]="FormTeacher" (ngSubmit)="enroll_teacher(FormTeacher.value)" >

        <div class="row">
            <div class="col-sm-6">
                <label for="">Apellidos:</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Ingrese dos apellidos" name="" [ngClass]="{'is-invalid':FormTeacher.get('lastName')?.errors && FormTeacher.get('lastName')?.touched}">
                <div *ngIf="FormTeacher.get('lastName')?.errors">
                    <div class="text-danger" *ngIf="FormTeacher.get('lastName')?.hasError('required') && FormTeacher.get('lastName')?.touched">Se requiere el ingreso de los Apellidos</div>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="">Nombres:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Ingrese dos nombres" name="" [ngClass]="{'is-invalid':FormTeacher.get('name')?.errors && FormTeacher.get('name')?.touched}">
                <div *ngIf="FormTeacher.get('name')?.errors">
                    <div class="text-danger" *ngIf="FormTeacher.get('name')?.hasError('required') && FormTeacher.get('name')?.touched">Se requiere el ingreso de los nombres</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Teléfono de Contacto:</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Ingrese un numero de telefono de contacto" name="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" [ngClass]="{'is-invalid':FormTeacher.get('phone')?.errors && FormTeacher.get('phone')?.touched}">
                <div *ngIf="FormTeacher.get('phone')?.errors">
                    <div class="text-danger" *ngIf="FormTeacher.get('phone')?.hasError('required') && FormTeacher.get('phone')?.touched">Ingrese un número de contacto válido</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10">
                <button [disabled]="FormTeacher.invalid" type="submit" class="btn btn-success">Registrar nuevo Catequista</button>          
                <a type="reset" href="/admin" class="btn btn-danger">Cancelar</a>
                <!-- <a class="btn btn-primary">Generar Comprobante</a> -->
        </div>
            <!-- <button type="reset" class="btn btn-danger">Salir</button> -->
            
        </div>
    </form>
</div> 
</section>

