<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Generación de listas por curso</h1>
    </div>
    <br>
    <div class="contenedor">
        <div class="row">
            <div class="col-sm-4">
                <label for="">Escoger el Nivel:</label>
                <select class="form-select" aria-label="Default select example" name="Level" [(ngModel)]="opcionSeleccionada" (change)="capturar()" >
                    <option *ngFor="let shedule of shedules.data"  [ngValue]="shedule.id">{{shedule.Level.name + ' ' + "(" + shedule.weekDay + ' ' + shedule.startTime + ' ' + "a" +' '+ shedule.endTime + ")" }}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="">Escoger el paralelo:</label>
                <select class="form-select" aria-label="Default select example" name="course" [(ngModel)]="seleccion_curso"  (ngModelChange)="capturar_curso()">
                    <option  *ngFor="let course_selection of courses"  [ngValue]="course_selection.id">{{"Paralelo" + ' ' + course_selection.name}}</option>
                </select>
            </div>
            <div class="row">
            <div class="col-sm-5">
                <div class="botones">
                <button class="btn btn-success" (click)="listado()">Generar listado</button> 
                <button class="btn btn-primary" (click)="print()"><fa-icon [icon]="faprint" ></fa-icon> Imprimir lista</button>         
            </div>
            </div>
        </div>
        </div>
</div> 
<div class="contenedor-table">
<div class="container mt-3" id="lista_del_curso">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-secondary">
        <tr class = "text-center">
          <th>Nivel</th>
          <th>Horario</th>
          <th>Paralelo</th>
          <th>Catequista</th>
        </tr>
      </thead>
      <tbody>
        <tr class = "text-center">
          <th class="text-danger" id="Text_level" ></th>
          <th id = "Text_Schedule"></th>
          <th id="Text_course"></th>
          <th id="Text_Teacher"></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">    
    <table class="table table-bordered table-hover">
      <thead class="table-secondary">
        <tr class = "text-center">
          <th scope="col">Ord</th>
          <th id="num_cedula">Cédula</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Edad</th>
          <th>Discapacidad</th>
          <th>N° de Recibo</th>
          <!-- <th id="status">Status</th> -->
          <th id="actions">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let item = index">
          <td scope="row" class = "text-center">{{item+1}}</td>
          <td class = "text-center" id="num_cedula">{{student.identityNumber}}</td>
          <td>{{student.lastName | uppercase}}</td>
          <td>{{student.name | uppercase}}</td>
          <td class = "text-center">{{student.age}}</td>
          <td class = "text-center">{{student.disability | siNo}}</td>
          <td class = "text-center">{{student.payment}}</td>
          <!-- <td class="text-center" id="status">{{student.payment | asignated}} </td> -->
          <td class="text-center" id="btn-edit-voucher" *ngIf="student.payment != null"><button type="button" class="btn btn-warning actions" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" [name]="student.id" (click)="edit($event)">Editar Recibo</button></td>
          <td class="text-center" id="btn-creater-voucher"*ngIf="student.payment == null"><button type="button" class="btn btn-primary actions" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" [name]="student.id" (click)="edit($event)"> Ingresar Recibo </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 
</div>   
</section>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Recibo de pago</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset_form()"></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="Formpay"> 
          <div class="row">
              <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="pay" placeholder="Ingrese el número de recibo" name="" [ngClass]="{'is-invalid':Formpay.get('pay')?.errors && Formpay.get('pay')?.touched}">
                  <div *ngIf="Formpay.get('pay')?.errors">
                  <div class="text-danger" *ngIf="Formpay.get('pay')?.hasError('required') && Formpay.get('pay')?.touched">Se requiere el ingreso de los nombres</div>
              </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-sm-6">
                  <button type="submit" button [disabled]="Formpay.invalid" class="btn btn-success" data-bs-dismiss="modal" (click)="registrar_recibo()">Guardar</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="reset_form()">Cancelar</button>
              </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>

