<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Generación de listados</h1>
    </div>
    <br>
    <div class="contenedor">
        <div class="row">
            <div class="col-sm-4">
                <label for="">Escoger el Nivel:</label>
                <select class="form-select" aria-label="Default select example" name="Level" [(ngModel)]="opcionSeleccionada" (change)="capturar()" >
                    <option *ngFor="let shedule of shedules.data" [ngValue]="shedule.id">{{shedule.Level.name + ' ' + "(" + shedule.weekDay + ' ' + shedule.startTime + ' ' + "a" +' '+ shedule.endTime + ")" }}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="">Escoger el paralelo:</label>
                <select class="form-select" aria-label="Default select example" name="course" [(ngModel)]="seleccion_curso" (change)="capturar_curso()" >
                    <option  *ngFor="let course_selection of courses"  [ngValue]="course_selection.id">{{"Paralelo" + ' ' + course_selection.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <div class="botones">
                <button class="btn btn-success" (click)="listado()">Generar listado</button>
            </div>
            </div>
        </div>
</div> 
<div class="container mt-3">
    <h2>Listado de Curso</h2>
    <p> </p>            
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>N.Cédula</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of courses.Students">
          <td>{{student.identityNumber}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.name}}</td>
          <td>{{student.age}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
