<app-header-component></app-header-component>
<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Inscripción</h1>
    </div>
    <br>
    <div class="contenedor">
    <form [formGroup]="signupForm" (ngSubmit)="registrar(signupForm.value)">
        <div class="row">
            <div class="col-sm-4">
                <label for="">Número de Cédula:</label>
                <input type="text" class="form-control" formControlName="identityNumber" placeholder="Ingrese el Número de Cédula del alumno" name="" [ngClass]="{'is-invalid':signupForm.get('identityNumber')?.errors && signupForm.get('identityNumber')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                <div *ngIf="signupForm.get('identityNumber')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('identityNumber')?.hasError('required') && signupForm.get('identityNumber')?.touched">Ingrese un número de cédula válido</div>
                    <div class="text-danger" *ngIf="signupForm.get('identityNumber')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                    <div class="text-danger" *ngIf="signupForm.get('identityNumber')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                </div>
            <div class="col">
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Apellidos:</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Ingrese dos apellidos" name="" [ngClass]="{'is-invalid':signupForm.get('lastName')?.errors && signupForm.get('lastName')?.touched}">
                <div *ngIf="signupForm.get('lastName')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('lastName')?.hasError('required') && signupForm.get('lastName')?.touched">Se requiere el ingreso de los Apellidos</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="">Nombres:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Ingrese dos nombres" name="" [ngClass]="{'is-invalid':signupForm.get('name')?.errors && signupForm.get('name')?.touched}">
                <div *ngIf="signupForm.get('name')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched">Se requiere el ingreso de los nombres</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Escoger a edad:</label>
                <select class="form-select" aria-label="Default select example" formControlName="age" [ngClass]="{'is-invalid':signupForm.get('age')?.errors && signupForm.get('age')?.touched}">
                    <option value="7">7 años </option>
                    <option value="8">8 años</option>
                    <option value="9">9 años</option>
                    <option value="10">10 años</option>
                    <option value="11">11 años</option>
                    <option value="12">12 años</option>
                    <option value="13">13 años</option>
                    <option value="14">14 años</option>
                    <option value="15">15 años</option>
                    <option value="16">16 años</option>
                </select>
                <div *ngIf="signupForm.get('age')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('age')?.hasError('required') && signupForm.get('age')?.touched">Debe escoger la edad</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="">Nombre del Representante:</label>
                <input type="text" class="form-control" formControlName="parentName" placeholder="Ingrese un nombre y un apellido" name="" [ngClass]="{'is-invalid':signupForm.get('parentName')?.errors && signupForm.get('parentName')?.touched}">
                <div *ngIf="signupForm.get('parentName')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('parentName')?.hasError('required') && signupForm.get('parentName')?.touched">Debe ingresar el nombre del Representante</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Teléfono de Contacto:</label>
                <input type="text" class="form-control" formControlName="phone1" placeholder="Ingrese un numero de telefono de contacto" name="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" [ngClass]="{'is-invalid':signupForm.get('phone1')?.errors && signupForm.get('phone1')?.touched}">
                <div *ngIf="signupForm.get('phone1')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('phone1')?.hasError('required') && signupForm.get('phone1')?.touched">Ingrese un número de contacto válido</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="">Correo Electrónico:</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Ingrese si tiene un correo electrónico" name="" [ngClass]="{'is-invalid':signupForm.get('email')?.errors && signupForm.get('email')?.touched}">
                <div *ngIf="signupForm.get('email')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('phone1')?.touched">Ingrese un correo válido</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <label for="">Dirección: (Ciudad, Barrio, Calle Principal y Calle Secundaria)</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Ingrese la dirección completa de donde vive" name="" [ngClass]="{'is-invalid':signupForm.get('address')?.errors && signupForm.get('address')?.touched}">
                <div *ngIf="signupForm.get('address')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('address')?.hasError('required') && signupForm.get('address')?.touched">Se requiere el ingreso de una dirección (Ciudad, Barrio-ciudadela, Calle Principal y Calle Secundaria)</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 form-check">
                <label for="">¿El Alumno está Bautizado?:</label><br>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" value="true" checked formControlName="baptized"> <p>Si</p>
                    <input type="radio" class="form-check-input" id="radio2" value="false" checked formControlName="baptized"> <p>No</p>
                </div>
                <div *ngIf="signupForm.get('baptized')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('baptized')?.hasError('required') && signupForm.get('baptized')?.touched">Escoja una opción</div>
                </div>
            </div>
            <div class="col-sm-4">
            <label for="">¿El alumno tiene alguna Discapacidad?:</label><br>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="Disability1" value="true" checked formControlName="disability"> <p>Si</p>
                    <input type="radio" class="form-check-input" id="Disability2" value="false" checked formControlName="disability"> <p>No</p>
                </div>
                <div *ngIf="signupForm.get('disability')?.errors">
                    <div class="text-danger" *ngIf="signupForm.get('disability')?.hasError('required') && signupForm.get('disability')?.touched">Escoja una opción</div>
                </div>
            </div>
        <br>
        </div>
        <br>
        <div class="row">
            <div class="botones">
            <button [disabled]="signupForm.invalid" type="submit" class="btn btn-success">Registrarse</button>
            <a href="/home" class="btn btn-danger">Cancelar</a>
            <!-- <button type="reset" class="btn btn-danger">Salir</button> -->
            </div>
        </div>
       
    </form>
</div> 
</section>
<app-footer-component></app-footer-component>

