*{
    font-family: Arial, Helvetica, sans-serif;
}
.searcher{
    padding: 3% 8% 3% 8%;
}
.contenedor{
    /* border: 1px solid #000; */
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    display: inline-flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.titulo{
    text-align:left;
    color: #6096BA;
    font-weight: bold;

}
.letras{
    position:relative;
    float: left;
 }
 .indicaciones{
    border: 2px solid #6096BA ;
    border-radius: 15px;
    padding: 10px;
 }
 .formulario{
    padding: 0 10%;
    width: 70%;
    margin: 10px;
    color: #6096BA;
 }
 .limpieza{
    clear: both;
    float: none;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

