<section class="searcher">
    <div class="letras">
        <h1 class="titulo">Matriculación</h1>
    </div>
    <br>
    <div class="contenedor">
    <br>
    <div class="formulario">
        <form action="/home">
            <div class="container mt-3">        
                <table class="table">
                    <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <label for="email" class="form-label">Número de Cédula:</label>
                                <input type="number" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <label for="email" class="form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Edad:</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="1">7-8 años</option>
                                    <option value="2">9-10 años</option>
                                    <option value="3">11-12 años</option>
                                    <option value="4">13-14 años</option>
                                    <option value="5">15-16 años</option>
                                    <option value="6">17 años</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Nombre del Representante:</label>
                                <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Numero de Contacto:</label>
                                <input type="number" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Numero de Contacto opcional:</label>
                                <input type="number" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Correo:</label>
                                <input type="email" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Dirección:</label>
                                <input type="email" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">¿Es Bautizado?:</label>
                                <br>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio"> Si
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio"> No
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">¿Tiene Alguna discapacidad?:</label>
                                <br>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio"> Si
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio"> No
                                    </label>
                                </div>
                                <br>
                                <label for="pwd" class="form-label">Indicar la discapacidad:</label>
                                <input type="email" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="botones">
            <button type="submit" class="btn btn-success">Matricularme</button>
            <button type="submit" class="btn btn-danger">Salir</button>
            </div>
          </form>
    </div>
    <div class="limpieza"></div>
</div>
</section>

