<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Registro de Pagos de Matriculación</h1>
    </div>
    <br>
    <div class="contenedor">
    <form [formGroup]="FormCI" (ngSubmit)="consultar()"> 
        <div class="row">
            <div class="col-sm-4">
                <label for="">Ingrese el Número de Cédula:</label>
                <input type="text" class="form-control" formControlName="CI"  placeholder="Ingrese el Número de Cédula del alumno" name="" [ngClass]="{'is-invalid':FormCI.get('CI')?.errors && FormCI.get('CI')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                <div *ngIf="Formstudent.get('CI')?.errors">
                    <div class="text-danger" *ngIf="FormCI.get('CI')?.hasError('required') && FormCI.get('CI')?.touched">Ingrese un número de cédula válido</div>
                    <div class="text-danger" *ngIf="FormCI.get('CI')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                    <div class="text-danger" *ngIf="FormCI.get('CI')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                </div>
            </div>
            <div class="col-sm-8 botones">
                <button type="submit" class="btn btn-success" >Buscar Datos</button>  
            </div>
        </div>
    </form> 
    </div> 
    <div class="table-responsive">
    <div class="container mt-3" >  
          <table class="table">
            <thead class="table-success"> 
              <tr>
                <th>Cédula</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Número de Recibo</th>
                <th>Status</th>
                <th *ngIf="student.payment != null">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{student.identityNumber}}</td>
                <td>{{student.lastName | uppercase}}</td>
                <td>{{student.name | uppercase}}</td>
                <td *ngIf="student.payment === null"><button type="button" class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar Recibo</button></td>
                <td *ngIf="student.payment != null">{{student.payment}}</td>
                <td *ngIf="student.payment === null">{{student.payment | asignated}}</td>
                <td *ngIf="student.payment != null">{{student.payment | asignated}}</td>
                <td *ngIf="student.payment != null"><button type="button" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar Recibo</button></td>
              </tr>
            </tbody>
          </table>
      </div> 
    </div>
</section>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de Recibo de pago</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="Formpay"> 
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" formControlName="pay" placeholder="Ingrese el número de recibo" name="" [ngClass]="{'is-invalid':Formstudent.get('pay')?.errors && Formstudent.get('pay')?.touched}">
                    <div *ngIf="Formstudent.get('pay')?.errors">
                    <div class="text-danger" *ngIf="Formstudent.get('name')?.hasError('required') && Formstudent.get('name')?.touched">Se requiere el ingreso de los nombres</div>
                </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" button [disabled]="Formpay.invalid" class="btn btn-success" data-bs-dismiss="modal" (click)="registrar_recibo()">Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
