
<section class="Formulario">
    <div class="letras">
      <h1 class="titulo" >Listado por Cursos</h1>
      <h4 *ngIf="name_level">{{'Nivel: ' + name_level}}</h4>
      <h4 *ngIf="name_course">{{'Paralelo'+ ' ' + name_course}}</h4>
    </div>
    <div class="contenedor">
      <div class="row">
          <div class="col-sm-12">
            <div class="botones">
              <a href="/teacher/mycourses" class="btn btn-light"><fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> Regresar</a>
              <button class="btn btn-primary" (click)="createListado()"><fa-icon [icon]="faPrint"></fa-icon> Imprimir Lista</button> 
              <button class="btn btn-danger" (click)="Generar_PDF()" ><fa-icon [icon]="faFilePdf"></fa-icon> Descargar en PDF</button> 
              <button class="btn btn-secondary" (click)="Generar_Listado_casilleros()" ><fa-icon [icon]="faFileExport"></fa-icon> Lista para registro</button>
              <button class="btn btn-success" (click)="Export_to_excel()"><fa-icon [icon]="faFileExcel"></fa-icon> Exportar a excel</button>
            </div>
          </div>
      </div>
    </div> 
    <div class="contenedor-table">
        <div class="container mt-3" id="lista_del_curso">
          <div class="table-responsive">    
            <table class="table table-bordered table-hover">
              <thead class="table-secondary">
                <tr class = "text-center">
                  <th scope="col">Ord</th>
                  <!-- <th id="num_cedula">Cédula</th> -->
                  <th>Apellidos</th>
                  <th>Nombres</th>
                  <th>Edad</th>
                  <th>Contacto</th>
                  <th>Discapacidad</th>
                  <th>Status- Matrícula</th>
                  <!-- <th id="status">Status</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students; let item = index">
                  <td scope="row" class = "text-center">{{item+1}}</td>
                  <!-- <td class = "text-center" id="num_cedula">{{student.identityNumber}}</td> -->
                  <td>{{student.lastName | uppercase}}</td>
                  <td>{{student.name | uppercase}}</td>
                  <td class = "text-center">{{student.age}}</td>
                  <td class="text-center">{{student.phone1}}</td>
                  <td class = "text-center">{{student.disability | siNo}}</td>
                  <!-- <td class = "text-center">{{student.payment}}</td> -->
                  <td class="text-center" id="status">{{student.payment | asignated}} </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        </div>   
</section>

