<app-header-component></app-header-component>
<section class="searcher">
    <div class="letras">
        <h1 class="titulo">Matriculación Catequesis 2023-2024</h1>
    </div>
    <br>
    <div class="letras indicaciones">
        <h3>Detalles y Recomendaciones</h3>
        <p class="text-danger">¡Lea con atención!</p>
        <p>Bienvenidos a la plataforma de Matriculación de catequesis que la Parroquia Santiago Apóstol de Machachi pone a dispocisión de la 
           comunidad con la finalidad de realizar un proceso rápido y automatizado. Sigamos los siguientes pasos: <br> 1. Si usted es nuevo en la catequesis y va al primer nivel de INICIACIÓN, aplaste el primer botón que se muestra
           en la parte de abajo <br> 2.- Si usted va a los otros niveles superiores, ya estuvo en la catequesis previamente, con el número de cédula 
           realiza su matrícula aplastando en el segundo Botón. 
        </p>
        <!-- <h6 class="text-danger">Iniciación, Reconciliación, Eucaristía, Año Bíblico, R.P.B.(Renovación de Promesas Bautismales), y Confirmación </h6> -->
        <h4 class="text-danger">Los Horarios de Matriculación son:</h4>
        <p>Iniciación: 22 y 23 de Agosto <br> Reconciliación: 24 y 25 de Agosto <br> Eucaristía: 26 y 27 de Agosto 
        <br>Año Bíblico: 28 y 29 de Agosto <br>R.P.B.(Renovación de Promesas Bautismales): 30 y 31 de Agosto <br>Confirmación: 01 y 02 de Septiembre</p>
    </div>
    <div class="contenedor"> 
        <br>
        <button [routerLink]="['/shedule_selection']" class="service-items float-contenedor texto-centro ">
            <img src="../assets/images/level-form-selection/registration_icon.png" class="img-responsive"/>
            <h3>Inscripciones para Iniciación</h3>
        </button>
        <button class="service-items float-contenedor texto-centro" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../assets/images/level-form-selection/enrollment_icon.png" class="img-responsive"/>
            <h3>Matrículas niveles superiores</h3>
        </button>
        <div class="limpieza"></div>
    </div>
    <div class="limpieza"></div>
</section>
<app-footer-component></app-footer-component>


<!-- Modal provisional para el acceso -->
<div class="modal fade" id="exampleModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #0F79B9; color: white;">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; font-size: x-large;">Validación de los datos de matrícula</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"  (click)="reset_Form()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="FormIdentitynumber" >
                <div class="col-sm-12">
                    <label>Ingrese el número de cédula del alumno </label><br><br>
                    <input type="tel" class="form-control" formControlName="identityNumber" id="numcedula" placeholder="Ingrese el Número de Cédula" name="identityNumber" [ngClass]="{'is-invalid':FormIdentitynumber.get('identityNumber')?.errors && FormIdentitynumber.get('identityNumber')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                    <div *ngIf="FormIdentitynumber.get('identityNumber')?.errors">
                        <div class="text-danger" *ngIf="FormIdentitynumber.get('identityNumber')?.hasError('required') && FormIdentitynumber.get('identityNumber')?.touched">Ingrese un número de cédula válido</div>
                        <div class="text-danger" *ngIf="FormIdentitynumber.get('identityNumber')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                        <div class="text-danger" *ngIf="FormIdentitynumber.get('identityNumber')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                    </div>
            </div>
            </form> 
        </div>
        <div class="modal-footer">
            <button [disabled]="FormIdentitynumber.invalid" type="submit" class="btn btn-success"  data-bs-dismiss="modal" (click)="verificar()">Validar datos</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="reset_Form()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>



