<app-header-component></app-header-component>
<!-- Carousel -->

<section class="inicio_aplicacion"> 
  <div class="Container-photos"> 
    <div class="carrousel"> 
    <div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel"> 
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="3" class="active"></button>
        </div>
         
        <!-- The slideshow/carousel -->
         <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="../assets/images/main-menu/slider3-20242.jpg" alt="Los Angeles" class="d-block" style="width:100%;">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <a href="https://www.iglesiademachachi.com/catequesis_parroquial.html" target="_blank"><img src="../assets/images/main-menu/slider2-2024.jpg" alt="Chicago" class="d-block" style="width:100%;"></a>
            <a href="https://www.iglesiademachachi.com/catequesis_parroquial.html" target="_blank" class="overlay-button">Más información</a>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <a href="https://youtu.be/kz1QreW9W3w" target="_blank"><img src="../assets/images/main-menu/slider3.jpg" alt="Chicago" class="d-block" style="width:100%;"></a>
            <a href="https://youtu.be/kz1QreW9W3w" target="_blank" class="overlay-button">Más información</a>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../assets/images/main-menu/slider4.jpg" alt="Chicago" class="d-block" style="width:100%;">
          </div>
          <!-- <div class="carousel-item" data-bs-interval="5000">
            <a href="https://www.iec2024.ec/" target="_blank"><img src="../assets/images/main-menu/slider5.jpg" alt="Chicago" class="d-block" style="width:100%;"></a>
            <a href="https://www.iec2024.ec/" target="_blank" class="overlay-button2">Más información</a>
          </div> -->
        </div>
         
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div> 
    </div> 
  </div>
    <div class="contenedor"> 
        <br>
        <button [routerLink]="['/level-form-selection']" class="service-items float-contenedor texto-centro">
            <a><img src="../assets/images/main-menu/icono_matriculacion.png" class="img-responsive"/></a>
            <h2>Matrículas</h2>
        </button>
        <button [routerLink]="['/searcher']" class="service-items float-contenedor texto-centro">
            <a ><img src="../assets/images/main-menu/icono_consultas.png" class="img-responsive"/></a>
            <h2>Consultas</h2>
        </button>
        <button class="service-items float-contenedor texto-centro" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a ><img src="../assets/images/users/logo_login.png" class="img-responsive"/></a>
            <h3>Registro de Catequistas</h3>
        </button>
        <button [routerLink]="['/teacher-login']" class="service-items float-contenedor texto-centro">
          <a ><img src="../assets/images/users/icono_login_teachers.png" class="img-responsive"/></a>
          <h3>Acceso Catequistas</h3>
      </button>
        <div class="limpieza"></div>
    </div>
</section>
<app-footer-component></app-footer-component>



  <!-- Modal provisional para el acceso de Catequistas -->
  <div class="modal fade" id="exampleModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #0F79B9; color: white;">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; font-size: x-large;">Ingreso de Catequistas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset_Form()"></button>
        </div>
        <div class="modal-body">
              <form [formGroup]="FormloginTeacher" >
                <div class="row">
                  <label for="">Usuario:</label> <br>
                <!-- <div class="icons col-sm-2 ">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div> -->
                <div class="col-sm-12">
                    <input type="text" class="form-control" formControlName="user" placeholder="Ingrese el usuario" name="" [ngClass]="{'is-invalid':FormloginTeacher.get('pwd')?.errors && FormloginTeacher.get('pwd')?.touched}">
                    <div *ngIf="FormloginTeacher.get('user')?.errors">
                        <div class="text-danger" *ngIf="FormloginTeacher.get('user')?.hasError('required') && FormloginTeacher.get('user')?.touched">Debe ingresar un usuario</div>
                    </div>
                </div>
                </div>
                <br>
                <div class="row">
                  <label for="">Contraseña:</label> <br>
                  <!-- <div class="icons col-sm-2">
                    <fa-icon [icon]="faLock"></fa-icon>
                  </div> -->
                  <div class="col-sm-12">
                   <input type="password" class="form-control" formControlName="pwd" placeholder="Ingrese la contraseña" name="" [ngClass]="{'is-invalid':FormloginTeacher.get('pwd')?.errors && FormloginTeacher.get('pwd')?.touched}">
                   <div *ngIf="FormloginTeacher.get('pwd')?.errors">
                       <div class="text-danger" *ngIf="FormloginTeacher.get('pwd')?.hasError('required') && FormloginTeacher.get('pwd')?.touched">Debe ingresar un usuario</div>
                    </div>
                    <br>
                </div>
                </div>
              </form>
           </div>
        <div class="modal-footer">
            <button [disabled]="FormloginTeacher.invalid" type="submit" class="btn btn-primary"  data-bs-dismiss="modal" (click)="inicio_sesion_teacher()">Iniciar Sesión</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset_Form()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
