*{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    /* border: 1px solid #000; */
    width: 90%;
    margin: 0 auto;
    padding: 1.5% 2%;
    display: inline-flex;
    justify-content: center;
}
float-contenedor{
    position: relative;
}
.img-responsive{
    width: 100%;
}
.limpieza{
    clear: both;
    float: none;
}
.texto-centro{
    text-align: center;
}
.inicio_aplicacion{
    padding: 5% 0;
}
.service-items{
    width: 18%;
    margin: 1%;
    padding: 2% 2%;
    float: left;
    border: 1px solid rgb(6, 98, 126);
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px #999;
    transition: 0.5s;

}
.service-items:hover{
    transform: scale(1.05) translateY(-0.5em);
}
