<app-header-component></app-header-component>
<section class="inicio_aplicacion">
    <div class="contenedor">
        <br>
        <div class="service-items float-contenedor texto-centro">
            <a (click)="anunce()"><img src="../assets/images/main-menu/icono_matriculacion.png" class="img-responsive"/></a>
            <h2>Matriculación</h2>
        </div>
        <div class="service-items float-contenedor texto-centro">
            <a href="/searcher"><img src="../assets/images/main-menu/icono_consultas.png" class="img-responsive"/></a>
            <h2>Consultas</h2>
        </div>
        <div class="service-items float-contenedor texto-centro">
            <a href="login"><img src="../assets/images/users/logo_login.png" class="img-responsive"/></a>
            <h2>Iniciar sesión</h2>
        </div>
        <div class="limpieza"></div>
    </div>
</section>
<app-footer-component></app-footer-component>

