<section class="Formulario">
    <div class="letras">
        <h1 class="titulo">Control de Asistencia</h1>
    </div>
    <br>
    <div class="contenedor">
        <div class="row">
            <div class="col-sm-4">
                <label for="">Escoger el curso:</label>
                <select class="form-select" aria-label="Default select example" name="Level" [(ngModel)]="opcionSeleccionada" (change)="capturar()">
                    <option *ngFor="let courses of mycourses"  [ngValue]="courses.id">{{courses.Schedule.Level.name + ' ' + '-' + ' ' + 'Paralelo' + ' ' + courses.name }}</option> 
                </select>
            </div>
            <div class="col-sm-4">
                <label for="">Ingresar o escoger la Fecha:</label> <br>
                <input type="date" id="current_date"  name="current_date" [value]="currentD" class="form-control" min="2022-10-15" max="2023-05-27" formControlName="presentDate" >
            </div>
            <div class="row">
            <div class="col-sm-12">
                <div class="botones">
                    <!-- <button class="btn btn-primary">Nueva Asistencia</button>  -->
                    <button class="btn btn-success"> <fa-icon [icon]="faListCheck"></fa-icon> Marcar a todos</button> 
                    <button class="btn btn-warning"><fa-icon [icon]="faX"></fa-icon> Desmarcar a todos</button>
                </div> 
            </div>
        </div>
        </div>
</div> 
        <div class="row">
             <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                      ¿Cómo tomar asistencia?
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Proceso de Registro de la Asistencia</h5>
                      <p class="card-text">1. Debemos escoger el aula en el selector "Escoger Curso", 
                        automáticamente se desplegará la lista de estudiantes de nuestro paralelo. <br></p>
                        <h4 class="text-danger">Ingreso de las Fechas</h4>
                        <p>
                          <img src="../assets/images/attendance/calendar.png" alt="" width="200"> <br>
                        2. Se debe escoger o ingresar la Fecha, si no se lo hace no se guardará el registro de asistencia. La fecha la puede seleccionar pulsando el ícono del final o ingresarla de la siguiente manera<br></p>
                        <p class="text-success">dd/mm/aaaa - primero el día, luego el mes y por último el año <br></p>
                        <p>Por ejemplo: 15/10/2022 que corresponde al Quince de Octubre del año 2022</p>
                        <p>
                        3. Una vez que se ya se nos desplegó el listado de alumnos tendremos la casilla de 'check' al lado del nombre de cada estudiante. <br>
                        4. Tomaremos lista de los estudiantes teniendo en cuenta el siguiente procedimiento:  <br> 
                        <img src="../assets/images/attendance/check_disabled.png" alt="" width="60"> Se muestra esta casilla vacia, si se la deja vacía se entiende como una falta <br>
                        <img src="../assets/images/attendance/checked.png" alt="" width="60"> Si aplastamos en el botón y se cambia a este icono significa que ha asistido <br>
                        5. Al finalizar el proceso de pasar lista o la toma de la asistencia, aparecerá el botón de registro <fa-icon [icon]="faSave"></fa-icon> con el cual se guardará finalmente la asistencia del día seleccionado. <br>
                      </p>
                      <h4 class="text-danger">Importante</h4>
                      <p>Si no se guarda la asistencia presionando el botón de "Grabar Asistencia", no se guardará y por tanto se deberá repetir el proceso. <br>
                      Si por alguna razón se decide cancelar este proceso se puede presionar el Botón "Eliminar Asistencia", el cual borrará todos los datos y nos dirigirá a la pantalla principal</p>
                    </div>
                  </div>
            </div> 
            <div class="col-sm-8">
                <div class="table-responsive">    
                    <table class="table table-hover">
                      <thead class="table-secondary">
                        <tr class = "text-center">
                          <th scope="col">Ord</th>
                          <th>Alumno</th>
                          <th>Asistencia</th>
                          <th>Justificación</th> 
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let student of students; let item = index">
                          <td scope="row" class = "text-center">{{item+1}}</td>
                          <td>{{student.lastName + ' ' + student.name | uppercase}}</td>
                          <td ><div  class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                          </div></td>
                          <td class="d-flex-inline-flex justify-content-center"><div  class="form-check">
                            <input class=" justify form-check-input" type="checkbox" value="" id="flexCheck">
                          </div></td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    <div class="button_save row" *ngIf="students != null">
        <div class="col-sm-6">
            <div class="botones">
                <button class="btn btn-success"><fa-icon [icon]="faSave"></fa-icon> Grabar Asistencia</button> 
                <button class="btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon> Eliminar Asistencia</button>
            </div>
        </div>
    </div>
</section>

