

.header{
    align-items: center;
    width: 100%;
}
.footer{
    align-items: center;
    width: 100%;
}
.container{
    justify-items: center;
    width: 100%;
}
.encabezado{
    width: 100%;
    align-content: center;
}
.parrafo{
    justify-content: center;
}
.h3{
    align-content: center;
}
.firma{
    justify-self: center;
}


@media only screen and (max-width: 912px) {

    
    .container{
        
        width: 100%;
    }
    .header{
        
        width: 100%;
    }
    .footer{
        
        width: 100%;
    }

  }
  @media only screen and (max-width: 1024px) {
    .container{
        
        width: max-content;
    }
    .header{
        
        width: 100%;
    }
    .footer{
        
        width: 100%;
    }

  }
  @media only screen and (max-width: 1280px) {
    .container{
        
        width: 100%;
    }
    .header{
        
        width: 100%;
    }
    .footer{
        
        width: 100%;
    }
  }
@media only screen and (max-width: 768px) {
    
    .container{
        
        width: max-content;
    }
    .header{
        
        width: 100%;
    }
    .footer{
        
        width: 100%;
    }

  }