<section class="footer">
    <div class="contenedor">
        <div class="direccion">
            <p><b>Dirección: </b>Av. Amazonas O-51 y Gonzalez Suarez</p>
            <p>Machachi - Pichincha - Ecuador</p>
            <p><b>Teléfono: </b> 02-2315479</p>
        </div>
        <div class="redes text-derecha">
            <ul>
                <li>
                    <a href="https://www.facebook.com/psamachachi" target="_blank"><img src="https://img.icons8.com/android/26/ffffff/facebook.png" class="redes-item"/></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/psamachachi/"target="_blank"><img src="https://img.icons8.com/metro/26/ffffff/instagram-new.png" class="redes-item"/></a>
                </li>
                <li>
                    <a href="https://twitter.com/psa_machachi"target="_blank"><img src="https://img.icons8.com/android/26/ffffff/twitter.png" class="redes-item"/></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCDtIHb8-rKXQIL9M2DEpZQw" target="_blank"><img src="https://img.icons8.com/metro/26/ffffff/youtube.png" class="redes-item"/></a>
                </li>
            </ul>
        </div>
        <div class="limpieza"></div>
    </div>
  </section>
  
