<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <div class="titulos">
                    <img class="logo img-fluid" src="./assets/images/header-component/logo_parroquia.png" alt="logo parroquial" width="300">
                  </div>
              <h3 class="mb-5">Recuperación de Datos</h3>
  
              <div class="form-outline mb-4">
                <form [formGroup]="recover_password_Form" >
                    <div class="row">
                      <label class="form-label" for="typeEmailX-2">Ingrese su número de Cédula:</label> <br>
                      <!-- <div class="icons col-sm-2">
                        <fa-icon [icon]="faLock"></fa-icon>
                      </div> -->
                      <div class="col-sm-12">
                        <input type="text" class="form-control" formControlName="identityNumber" placeholder="Ingrese el Número de Cédula" name="" [ngClass]="{'is-invalid':recover_password_Form.get('identityNumber')?.errors && recover_password_Form.get('identityNumber')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                        <div *ngIf="recover_password_Form.get('identityNumber')?.errors">
                            <div class="text-danger" *ngIf="recover_password_Form.get('identityNumber')?.hasError('required') && recover_password_Form.get('identityNumber')?.touched">Ingrese un número de cédula válido</div>
                            <div class="text-danger" *ngIf="recover_password_Form.get('identityNumber')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                            <div class="text-danger" *ngIf="recover_password_Form.get('identityNumber')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                        </div>
                        <br>
                    </div>
                    </div>
                  </form>
              </div>
  
              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>
   -->
              <button [disabled]="recover_password_Form.invalid" class="btn btn-primary btn-lg btn-block" type="submit" (click)="verify_teacher()">Verificar Registro</button>
  
              <!-- <hr class="my-4"> -->
  
              <!-- <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
