.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.btn_salir{
    margin: 4%;
}
.logo{
    margin-left: 15%;
    margin-right: 15%;
}
.d-flex{
    justify-content: flex-end;
}

@media (max-width: 690px) {
.h-custom {
height: 100%;
}

.principal{
    margin: 0 0 30% 0;
}
.titulos{
    display: flex;
    flex-direction: row;
    align-items: center
}
.logo{
    margin: 5%;
    width: 30%;
}
.titulos2{
    width: 70%;
    font-size: 20px;
    float: right;

}
.image > img{
    width: 80%;
    margin: 0 10%
}

.fa-icon {
    margin-top: -2px; 
}

}