<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="image col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/vector-gratis/concepto-abstracto-sistema-control-acceso_335657-3180.jpg"
            class="img-fluid" alt="Sample image"> 
        </div>
        <div class="principal col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="titulos">
                <img class="logo img-fluid" src="./assets/images/header-component/logo_parroquia.png" alt="logo parroquial" width="300">
                <div class="titulos2">                
                  <h2 >Sistema de Gestión de Catequesis</h2>
                  <h4>Acceso de Catequistas</h4>
                </div>
              </div>
          <form [formGroup]="user_teacher_Form"  (keydown.enter)="iniciar_sesion_teacher()">
            <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div> -->
  
            <div class="divider d-flex align-items-center my-4">
              
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
            <!-- <label class="form-label" for="form3Example3">Usuario:</label> -->
              <input type="email" id="form3Example3" class="form-control form-control-lg"
              formControlName="user" placeholder="Ingrese el Usuario" />
            </div>
            <div class="d-flex justify-content-flex-end align-items-center mb-3">
              <!-- Checkbox -->
              <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div> -->
              <a  name="reset_user" (click)="reset_user($event)" class="text-body" >¿Olvidé mi usuario? </a>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
            <!-- <label class="form-label" for="form3Example4">Contraseña</label> -->
              <!-- <input type="password" id="form3Example4" class="form-control form-control-lg"
              formControlName="pwd"  placeholder="Ingrese la Contraseña" /> -->
              <div class="input-group">
                <input [type]="type" id="form3Example4" formControlName="pwd" class="form-control form-control-lg" placeholder="Ingrese la Contraseña" />
                <div class="input-group-append input-group-text d-flex align-items-center">
                    <span (click)="hideshowPass()"><fa-icon [icon]="eyeIcon"></fa-icon></span>
                </div>
            </div>
            </div>
  
            <div class="d-flex justify-content-flex-end align-items-center">
              <!-- Checkbox -->
              <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div> -->
              <a name="reset_password" (click)="reset_pwd($event)" class="text-body" >¿Olvidé mi contraseña? </a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="iniciar_sesion_teacher()" [disabled]="user_teacher_Form.invalid">Acceder</button>
                <button  [routerLink]="['/home']" type="button" class="btn btn-secondary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left: 5%;">Salir</button>
              <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p> -->
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <!-- <div>
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"> -->
      <!-- Copyright -->
      <!-- <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. Todos los derechos reservados Parroquia Santiago Apóstol de Machachi.
      </div> -->
      <!-- Copyright -->
  
      <!-- Right -->
      <!-- <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div> -->
      <!-- Right -->
    <!-- </div> -->
  </section>

    <!-- Modal para recuperación de contraseña -->
    <div class="modal fade" id="exampleModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #0F79B9; color: white;">
            <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; font-size: x-large;">Recuperación de Usuario y Contraseña</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset_Form()"></button>
          </div>
          <div class="modal-body">
                <form [formGroup]="recover_password_Form" >
                  <div class="row">
                    <label for="">Ingrese su número de Cédula:</label> <br>
                    <!-- <div class="icons col-sm-2">
                      <fa-icon [icon]="faLock"></fa-icon>
                    </div> -->
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="identityNumber" placeholder="Ingrese el Número de Cédula" name="" [ngClass]="{'is-invalid':recover_password_Form.get('identityNumber')?.errors && recover_password_Form.get('identityNumber')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                      <div *ngIf="recover_password_Form.get('identityNumber')?.errors">
                          <div class="text-danger" *ngIf="recover_password_Form.get('identityNumber')?.hasError('required') && recover_password_Form.get('identityNumber')?.touched">Ingrese un número de cédula válido</div>
                          <div class="text-danger" *ngIf="recover_password_Form.get('identityNumber')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                          <div class="text-danger" *ngIf="recover_password_Form.get('identityNumber')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                      </div>
                      <br>
                  </div>
                  </div>
                </form>
             </div>
          <div class="modal-footer">
              <button [disabled]="recover_password_Form.invalid" type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Iniciar Sesión</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset_Form()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>