
<section class="navbar">
  <div class="contenedor">
      <div class="logo">
          <a href="/admin">
          <img
          width="200"
          alt="logo parroquia"
          src="../assets/images/header-component/logo_parroquia.png" class="img-responsive"
          />
          </a>
      </div>
      <div class="spacer"></div>
      <div class="letras">
          <img
          width="400"
          alt="letras parroquia"
          src="../assets/images/header-component/letras_parroquia.png"  class="img-responsive"
          />
      </div>
  </div>
</section>
<div class="topnav" id="myTopnav">
  <a href="/admin" class="active"><fa-icon [icon]="faHome"></fa-icon> Home</a>
  <a href="/admin/course"><fa-icon [icon]="faList" ></fa-icon> Listados</a>
  <!-- <a href="/admin/edit-course"><fa-icon [icon]="faSchool"></fa-icon> Cursos</a> -->
  <a href="/admin/student"><fa-icon [icon]="faUserPen"></fa-icon> Inscripción estudiante</a>
  <!-- <a href="/admin/teacher"><fa-icon [icon]="faUser"></fa-icon> Ingreso Catequistas</a> -->
  <a href="/admin/edit-student"><fa-icon [icon]="faPenToSquare"></fa-icon> Editar Información</a>
  <a href="/admin/pay"><fa-icon [icon]="faSackDollar"></fa-icon> Ingreso de pagos</a>
  <a class=" cerrar-sesion btn btn-danger" (click)="logout()"> <fa-icon [icon]="faRightToBracket"></fa-icon>  Cerrar Sesión</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    ☰
  </a>
</div>

<div style="padding-bottom:16px">
  <router-outlet></router-outlet>
</div> 

