<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class=" body-login row d-flex justify-content-center align-items-center h-100">
        <div class="imagen-principal col-md-9 col-lg-6 col-xl-5">
          <a href="/home"><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"  class="img-fluid" alt="Sample image"></a>

        </div>
        <div class=" principal col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="titulos mb-3">
            <img class="img-fluid logo" src="./assets/images/header-component/logo_parroquia.png" alt="logo parroquial" width="300">
            <h2 >Sistema de Gestión de Catequesis</h2>
          </div>
          <form [formGroup]="userForm" (ngSubmit)="iniciar_sesion(userForm.value)">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <!-- <label class="form-label" for="form3Example3">Usuario:</label> -->
              <input type="text" id="form3Example3" formControlName="user" class="form-control form-control-lg"
                placeholder="Ingrese el Usuario" />
              
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                <!-- <label class="form-label" for="form3Example4">Contraseña:</label> -->
                <!-- <input type="password" id="form3Example4" formControlName="pwd" class="form-control form-control-lg"
                placeholder="Ingrese la Contraseña" />
                <span><fa-icon [icon]="faEye"></fa-icon></span>  -->
                <div class="input-group">
                  <input [type]="type" id="form3Example4" formControlName="pwd" class="form-control form-control-lg" placeholder="Ingrese la Contraseña" />
                  <div class="input-group-append input-group-text d-flex align-items-center">
                      <span (click)="hideshowPass()"><fa-icon [icon]="eyeIcon"></fa-icon></span>
                  </div>
              </div>
              
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="userForm.invalid">Acceder</button>
              
              <a href="/home" class=" btn_salir btn btn-secondary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Salir</a>
            </div>
          </form>
        </div>
      </div>
    </div>
     <!-- <div
      class=" footer d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. Todos los derechos reservados.
      </div>
    </div>  -->
  </section>