<section class="navbar">
    <div class="contenedor">
        <div class="logo">
            <a href="/home">
            <img
            width="200"
            alt="logo parroquia"
            src="../assets/images/header-component/logo_parroquia.png"
            />
            </a>
        </div>
        <div class="spacer"></div>
        <div class="letras">
            <img
            width="500"
            alt="letras parroquia"
            src="../assets/images/header-component/letras_parroquia.png"
            />
        </div>
    </div>
</section>
<div class="barra_informacion">
    <h1>Sistema de Matriculación de Catequesis</h1>
</div>
