<section class="navbar">
    <div class="contenedor">
        <div class="logo">
            <a href="/home">
            <img
            width="200"
            alt="logo parroquia"
            src="../assets/images/header-component/logo_parroquia.png" class="img-responsive"
            />
            </a>
        </div>
        <div class="spacer"></div>
        <div class="letras">
            <img
            width="500"
            alt="letras parroquia"
            src="../assets/images/header-component/letras_parroquia.png"  class="img-responsive"
            />
        </div>
    </div>
</section>
<div class="barra_informacion" id="myTopnav">
    <div class="titulo">
    <h1>Sistema de Gestión de Catequesis</h1>
    </div>
    <a href="/login" type="button" class=" btn boton_iniciar_Sesion" > <fa-icon [icon]="faUser" ></fa-icon>  Iniciar Sesión</a>
</div>
