<app-header-component></app-header-component>
<section class="searcher">
    <div class="letras">
        <h1 class="titulo">Matriculación</h1>
    </div>
    <br>
    <div class="letras indicaciones">
        <h3>Detalles y Recomendaciones</h3>
        <p class="text-danger">¡Lea con atención!</p>
        <p>Bienvenidos a la plataforma de Matriculación de catequesis que la Parroquia Santiago Apóstol de Machachi pone a dispocisión de la 
           comunidad con la finalidad de realizar un proceso rápido y automatizado. Sigamos los siguientes pasos: <br> 1. A continuación debe elegir el horario  
           de acuerdo al nivel al que se desea inscribir, estos son: <br>
        </p>
        <h6 class="text-danger">Iniciación, Reconciliación, Eucaristía, Año Bíblico, RPB(Renovación de Promesas Bautismales), y Confirmación </h6>
    </div>
    <div class="contenedor">
    <br>
    <div class="formulario">
        <form>
        <h5>Seleccione el Nivel al cual se desea Matricular</h5>
        <br>
        <select class="form-select form-select-lg mb-2"  aria-label="Default select example" [(ngModel)]="opcionSeleccionada" name="Shedule_selection" (change)="capturar()" selected="selected">
            <option *ngFor="let shedule of shedules.data" [ngValue]="shedule.id">{{shedule.Level.name + ' ' + "(" + shedule.weekDay + ' ' + shedule.startTime + ' ' + "a" +' '+ shedule.endTime + ")" }}</option>
        </select>
        <br>
        <a  type="submit"  [name]="this.verSeleccion" (click)="consult_courses($event)" class="btn btn-outline-primary">Consultar cupos disponibles</a>
          <!-- <button type="submit" class="btn btn-primary">Consultar cupos disponibles</button> -->
        </form>
    </div>
    <div class="limpieza"></div>
    
</div>
</section>
<app-footer-component></app-footer-component>