<app-header-component></app-header-component>
<section class="searcher">
    <div class="letras">
        <h1 class="titulo">Consultar Datos de Matrículación del Estudiante</h1>
    </div>
    <div class="contenedor">
    <br>
    <div class="formulario">
        <form [formGroup]="Form" (ngSubmit)="consultar()">
            <div class="mb-5 mt-5">
                <label>Ingrese su Número de Cédula para realizar una nueva consulta</label><br><br>
                <input type="text" class="form-control" formControlName="identityNumber" id="numcedula" placeholder="Ingrese el Número de Cédula" name="identityNumber" [ngClass]="{'is-invalid':Form.get('identityNumber')?.errors && Form.get('identityNumber')?.touched}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                <div *ngIf="Form.get('identityNumber')?.errors">
                    <div class="text-danger" *ngIf="Form.get('identityNumber')?.hasError('required') && Form.get('identityNumber')?.touched">Ingrese un número de cédula válido</div>
                    <div class="text-danger" *ngIf="Form.get('identityNumber')?.hasError('maxLength')">Se debe llenar 10 dígitos</div>
                    <div class="text-danger" *ngIf="Form.get('identityNumber')?.hasError('minLength')">Se debe llenar 10 dígitos</div>
                </div>
            <button [disabled]="Form.invalid" type="submit" class="btn btn-success">Consultar</button>
            <a href="/home" class="btn btn-danger">Cancelar</a>
        </div>
        </form>
    </div>
    <div class="limpieza"></div>
</div>
</section>
<!-- modal Content -->
<app-footer-component></app-footer-component>
