<app-header-component></app-header-component>
<section class="searcher">
    <div class="letras">
        <h1 class="titulo">Consultas</h1>
    </div>
    <div class="contenedor">
    <br>
    <div class="formulario">
        <form action="/home">
            <p>Ingrese su Número de Cédula para realizar una nueva consulta</p>
            <div class="mb-5 mt-5">
              <input type="number" class="form-control" id="input_consulta" placeholder="Ingrese el Número de Cédula" name="num_cedula">
            </div>
            <button type="submit" class="btn btn-primary">Consultar datos</button>
            <a href="/home"><button type="submit" class="btn btn-danger btn-xs" >Salir</button></a>
        </form>
    </div>
    <div class="limpieza"></div>
</div>
</section>
<app-footer-component></app-footer-component>
